table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 100%
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
    
}

body {
    background-image: url('https://deambulatory.github.io/scores/Images/bg_large.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

@media screen and (max-width: 768px) {
    body {
        background-image: url('https://deambulatory.github.io/scores/Images/bg_medium.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }


}

@media screen and (max-width: 360px) {
    body {
        background-image: url('https://deambulatory.github.io/scores/Images/bg_small.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }


    table {
        width: 100%;
        overflow-x: auto;
        font-size: 8px
   }

   table th,
   table td {
       font-size: 2px; /* Adjust the font size as needed */
   }
 
}

tr {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #c0c0c0;
}

.White {
    background-color: white;
}
.Black {
    background-color: black;
    color: white;
}
.Red {
    background-color: red;
}
.Blue {
    background-color: #0096FF;
}
.Green {
    background-color: #32CD32;
}