table {
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 100%
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

body {
    background-image: url('https://deambulatory.github.io/scores/Images/bg_large.jpg');
    background-size: auto;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('https://deambulatory.github.io/scores/Images/bg_medium.jpg');
        background-size: cover;
    }


}

@media screen and (max-width: 360px) {
    body {
        background-image: url('https://deambulatory.github.io/scores/Images/bg_small.jpg');
        background-size: auto;
    }

    th,
    td {

        font-size: 12px
    }
}

tr {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #c0c0c0;
}

.draw {
    background-color: #FCE4D6;

}

.player1 {
    background-color: #FFF2CC;

}

.player2 {
    background-color: #DDEBF7;

}

.bold {
    font-weight: bold;
}